/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--font-primary);
}

li {
  font-family: 'Poppins';
  font-size: 1.125rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

input {
  border: none;
  background-color: transparent;
  outline: transparent;
  border-bottom: 1px solid var(--font-primary);
  line-height: 2.25rem;
  width: 15.125rem;
  font-family: 'Poppins';
}

input::placeholder {
  padding-left: 0.2rem;
}

/* Variables */

:root {
  --header-color: #eeeeee;
  --font-primary: #000000;
  --font-secondary: #2e3840;
  --label-font-color: #8c8c8c;
  --second-price-color: #b93a3f;

  --padding-ultra: 1.25rem 20.375rem;
  --padding-desktop: 1.25rem 10.375rem;
  --padding-mobile: 1.25rem 2rem;
  --padding-tablet: 1.25rem 3rem;
}

/*================== NAVIGATION ==================*/

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  height: 5.875rem;
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--font-secondary);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--font-secondary);
  position: absolute;
  left: 0;
  bottom: -0.75rem;
  transition: width 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  display: none;
}

nav .menu ul {
  display: none;
}

.mobile-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu-icon {
  width: 30px;
}

.desktop {
  display: none;
}

/*======== Show Menu =========*/

nav > div {
  transition: 0.3s;
}

nav.show .menu {
  display: grid;
  place-content: center;
  opacity: 1;
  visibility: visible;
  background: var(--header-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav.show .menu > div {
  position: absolute;
  justify-self: center;
  top: 8rem;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show .icon-brightness-contrast {
  display: none;
}

/* =========Toggle menu =========*/

.toggle {
  display: flex;
  color: var(--header-color);
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -2.5rem;
  right: 2rem;
  transition: 0.3s;
  z-index: 9999;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

/* Mosaic Section */

section {
  padding: var(--padding-desktop);
}

.mosaic {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 15rem;
}

.card {
  border-radius: 1rem;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-secondary);
}

.news-title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-secondary);
}

.news-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-secondary);
}

/* Swiper / Carrousel */

.swiper {
  margin-top: 3.625rem;
  width: 100%;
  height: 24rem;
  padding: 0 2rem;
  user-select: none;
}

.swiper-slide {
  padding: 0 1rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--font-primary);
}

.row-price {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.column-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product {
  font-family: 'Heebo';
  font-size: 0.875rem;
}

.product-title {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans';
  font-weight: 700;
}

.first-price {
  color: var(--label-font-color);
}

.second-price {
  color: var(--second-price-color);
}

.installment {
  font-family: 'Open Sans';
  line-height: 90%;
  font-size: 0.75rem;
}

#footer {
  width: 100%;
  padding: var(--padding-desktop);
  display: flex;
  justify-content: space-between;
  background-color: var(--header-color);
  height: 8vh;
  align-items: center;
  z-index: 9998;
}

.fab {
  font-size: 2.5rem;
  color: var(--font-primary);
  transition: 0.4s;
}

.fab:hover {
  color: var(--font-secondary);
  transform: scale(1.1);
}

/* Responsive */

@media (max-width: 2560px) {
  .container,
  section {
    padding: var(--padding-ultra);
  }

  .mosaic {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 20rem;
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

@media (max-width: 1920px) {
  .container,
  section {
    padding: var(--padding-desktop);
  }

  .mosaic {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 20rem;
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

@media (max-width: 1440px) {
  .container,
  section {
    padding: var(--padding-desktop);
  }

  .mosaic {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 15rem;
  }
}

@media (max-width: 1360px) {
  .container,
  section {
    padding: var(--padding-desktop);
  }

  .mosaic {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 12rem;
  }
}

@media (max-width: 1200px) {
  .container,
  section {
    padding: var(--padding-tablet);
  }

  #footer {
    padding: var(--padding-tablet);
  }
}

@media (max-width: 600px) {
  .container,
  section {
    padding: var(--padding-mobile);
  }

  .card {
    grid-row: span 2 / auto;
  }

  #footer {
    padding: var(--padding-mobile);
  }
}

@media (min-width: 1024px) {
  nav .menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  nav .menu ul li a.title {
    transition: 0.3s;

    font: 400 1.125rem 'Poppins';
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-open {
    display: none;
  }

  nav i {
    cursor: pointer;
  }

  nav > i {
    transition: 0.3s;
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .desktop {
    display: block;
  }
}
