* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #eeeeee;
  --font-primary: #000000;
  --font-secondary: #2e3840;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--header-color);
  color: var(--teste);
  height: 5.875rem;
  padding: 1.25rem 10.375rem;
  gap: 2.875rem;
}

nav {
  display: flex;
  gap: 2.8125rem;
}

ul {
  display: flex;
  gap: 2.8125rem;
}

li {
  list-style: none;
  align-self: center;
}

.search-bar {
  background-color: var(--header-color);
  border: 0;
  border-bottom: 0.0625rem solid var(--font-primary);
  min-width: 15.125rem;
}


